<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Context</title>
    <link rel="stylesheet" th:href="@{/css/style-dark-cinema.css}">
</head>

<body>
<div data-th-replace="~{fragments/header :: entete}"></div>

<main class="cinema-main">
    <section class="cinema-section">

        <h2>Context</h2>

        <div th:if="${membre != null}">
            <h1 th:text="${membre.prenom}"></h1>
            <a class="logout-btn" th:href="@{/contexte}">Déconnexion</a>
        </div>

        <div th:if="${membre == null}" class="user-buttons">
            <a class="user-btn"
               th:each="m : ${listMembres}"
               th:text="${m.prenom}"
               th:href="@{/contexte/session(id=${m.id})}">
            </a>
        </div>

    </section>
</main>

</body>
</html>
